.section-title {
    font-size: 3rem;
    font-family: var(--main-font-bold);
    color: var(--semi-font-colour);
    text-align: center;
    text-transform: uppercase;
    padding-top: 4.5rem;
    margin-bottom: 6rem;
  }
  
  .section-title::after {
    content: "";
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 4rem;
  }
  
  .section-subtitle {
    margin-bottom: 2rem;
    display: block;
    font-size: 2.4rem;
    font-family: var(--script-font);
    color: var(--semi-font-colour);
    text-align: center;
    text-transform: lowercase;
  }
  
  .section-subtitle:first-letter {
    text-transform: uppercase;
  }
  