.team--mp {
    padding-bottom: 8rem;
  }
  
  .team-text {
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-family: var(--semi-font);
    color: var(--ligt-font-colour);
    text-align: center;
    padding: 0 12rem;
    margin-bottom: 9rem;
    &--mp {
      padding: 0 12rem;
      margin-bottom: 9rem;
    }
  }
  
  
  
  .team-list {
    display: flex;
    justify-content: space-between;
  }
  
  .team-member--mp {
    width: 38rem;
  }
  
  .team-member__image {
    margin-bottom: 3rem;
    position: relative;
  }
  
  .team-member__overlay {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, #f0e290 0%, #e98a89 100%);
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    @include flex-centr;
    transition: all 200ms linear;
    z-index: 3;
  }
  
  .team-member--hover:hover .team-member__overlay {
    opacity: 0.9;
    top: -1rem;
    left: -1rem;
  }
  
  .clear-image--mp {
    position: relative;
    transition: all 200ms linear;
    z-index: 2;
    display: block;
  }
  
  .team-member__background {
    position: absolute;
    background-color: #95e1d3;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
  }
  
  .team-member--hover:hover .clear-image {
    transform: translate(-1rem, -1rem);
  }
  
  .team-member__soc-button {
    width: 5.5rem;
    height: 5.5rem;
    background-color: #fce38a;
    margin-right: 1px;
    @include flex-centr;
    opacity: 1;
    transition: background-color 200ms linear;
    fill: #f38181;
    &:hover {
      fill: #ffffff;
      background-color: var(--hov-semi-font-colour);
    }
  }
  
  .team-member__soc-button-img--twitter {
    width: 3.9rem;
    height: 3.2rem;
  }
  
  .team-member__soc-button-img--pinterest {
    width: 2.4rem;
    height: 3.2rem;
  }
  
  .team-member__soc-button-img--instagram {
    width: 3.2rem;
    height: 3.2rem;
  }
  
  .team-member__soc-button-img--facebook {
    width: 1.5rem;
    height: 3.2rem;
  }
  
 
  
  .team-member__description--neme {
    font-size: 1.4rem;
    font-family: var(--main-font);
    color: var(--semi-font-colour);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .team-member__description--pos {
    font-size: 1.5rem;
    font-family: var(--semi-font-italic);
    color: var(--ligt-font-colour);
    text-align: center;
  }