.book, .clock, .comp, .facebook, .home, .image, .instagram, .line, .pinterest, .twitter{
	background: url(../img/sprites.png) no-repeat;
}

.book{
	background-position: -242px -41px ;
	width: 32px;
	height: 32px;
}

.clock{
	background-position: -196px -41px ;
	width: 32px;
	height: 31px;
}

.comp{
	background-position: 0 -49px ;
	width: 32px;
	height: 28px;
}

.facebook{
	background-position: -156px -1px ;
	width: 13px;
	height: 26px;
}

.home{
	background-position: -99px -41px ;
	width: 32px;
	height: 31px;
}

.image{
	background-position: -146px -41px ;
	width: 32px;
	height: 32px;
}

.instagram{
	background-position: -96px -3px ;
	width: 26px;
	height: 26px;
}

.line{
	background-position: -50px -42px ;
	width: 32px;
	height: 32px;
}

.pinterest{
	background-position: -51px 0;
	width: 21px;
	height: 26px;
}

.twitter{
	background-position: -6px -4px ;
	width: 26px;
	height: 22px;
}

