@import "./reset.css";

@import "./fonts.css";

@import "./sprites.css";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
}

.page-header {
  width: 100%;
  position: absolute;
}

.saite-navigation {
  padding: 20px 80px 20px 80px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.saite-navigation {
}

.nav-list-item {
  width: 90px;
  height: 36px;
  border-radius: 18px;
  border: 2px solid rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-list-item:hover {
  border: 2px solid #ffffff;
  border-radius: 18px;
}

.nav-list-link {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat_Bold", sans-serif;
}

.page-banner {
  width: 100%;
  height: 540px;
  background-image: url(..//img/main_photo_mob.png);
}

.page-banne__site-logo {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Montserrat_Bold", sans-serif;
  text-align: center;
  padding-top: 175px;
  padding-bottom: 35px;
}

.page-banner__slogan {
  font-size: 30px;
  color: #ffffff;
  font-family: "Montserrat_Bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;
  line-height: 1.2;
}

.page-banner__sub-slogan {
  font-size: 18px;
  color: #ffffff;
  font-family: "Roboto_Light", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.2;
  padding-bottom: 15px;
}

.page-banner__search-partner {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: "Montserrat_Bold", sans-serif;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  width: 280px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
}

.partners {
 }

 .partners__partners-list{

 }

.partners__slogan {
  font-size: 22px;
  color: #333333;
  font-family: "Montserrat_Bold", sans-serif;
  padding-top: 65px;
  text-align: center;
}

.partners__partners-list-item{
  margin: 0 auto;
  text-decoration: none;
  padding-top: 15px;
}

.partners__partners-link{
  margin: 0 auto;
}

.partners__partners-name{

font-size: 14px;
color: #333333;
font-family: "Montserrat_Bold", sans-serif;
text-align: center;
padding-top: 20px;
}

.partners__partners-interest{

font-size: 14px;
color: #666666;
font-family: "Roboto_Light", sans-serif;
text-align: center;
padding-top: 15px;
}