* {
  box-sizing: border-box;
}

img{
  display: block;
  width: 100%;
  height: auto;
}
.wrapper {
  box-sizing: border-box;
  background-color: #555252;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.wrp-header {
  background-color: #ffffff;
  height: 91px;
}

.main-header {
  text-transform: uppercase;
  padding-top: 37px;
  margin-bottom: 105px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  display: inline-block;
}

.nav{
  display: inline-block;
  float: right;
}

.site-logo {
  text-decoration: none;
  color: #555252;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  display: inline-block;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: 800;
}

.site-navigation {
  float: right;
  padding-top: 8px;
  font-size: 0px;
  
}

.site-navigation li {
  margin-right: 32px;
  display: inline-block;
}

.site-navigation li:last-child {
  margin-right: 0px;
}

.site-navigation-item {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  float: left;
  color: #151115;
}

.site-navigation-item:hover {
  color: #1abc9c;
}

.slaider {
  position: relative;
}

.slider-img {
  /* object-fit: cover; */
  width: 100%;
  height: auto;
}

.slaider-overlay {
  background-color: #000002;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.slaider-content {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 0px;
  text-align: center;
}

  

.slaider-text {
  display: inline-block;
  cursor: pointer;
  
}

.slaider-text-main {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.slaider-text-aside {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.button-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.button-left {
  position: absolute;;
  bottom: 0px;
  left: 0px;
  
}

.chevron {
  font-size: 50px;
  background-color: #4ec6ab;
  opacity: 0.6;
  width: 104px;
  height: 104px;
  color: #ffffff;
  line-height: 103px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.chevron:hover{
  background-color: #1abc9c;
  opacity: 1;
}

.gallery {
  background-color: #e9f0fd;
  padding: 100px 0px 100px 0px;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: -1px;
  color: #515151;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.section-title::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 92px;
}

.products-item {
  float: left;
  margin: 0px 30px 0px 0px;
  font-size: 0px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #e9f0fd;
  width: 255px;
  position: relative;
}

.products-item:hover .products-hover {
  opacity: 1;
}

.products-hover {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 10px;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  position: absolute;
  top: 0px;
  opacity: 0;
  transition: 0.5s;
}

.main-button {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 3s;
}

.button-icon {
  padding: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 0px 8px 8px 0px;
}

.button-heart {
  background-image: url(../img/heart.png);
}
.button-change {
  background-image: url(../img/change.png);
}
.button-clock {
  background-image: url(../img/clock.png);
  margin-right: 0px;
}

.button-icon:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.button-add {
  display: inline-block;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: #323232;
  width: 166px;
  height: 50px;
  opacity: 1;
  cursor: pointer;
}

.button-add:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.add-text {
  display: inline-block;
  font-size: 14px;
  font-family: "Open Sans";
  color: #ffffff;
  text-transform: uppercase;
  line-height: 46px;
  border-width: 1px;
}

.add-text::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url(../img/cart.png);
  vertical-align: middle;
  margin-right: 18px;
}

.products-item-link {
  text-decoration: none;
  color: #ffffff;
}

.products-item:nth-child(4n) {
  margin-right: 0px;
}

.products-item:nth-child(n + 5) {
  margin-bottom: 0px;
}

.products-image{
  position: relative;
}

.products-item-info {
  height: 40px;
  width: 255px;
  background-color: #323232;
}

.products-name {
  width: 200px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  display: inline-block;
  padding-left: 12px;
  box-sizing: border-box;
  background-color: #323232;
}

.products-price {
  width: 55px;
  float: right;
  background-color: rgba(255, 255, 255, 0.4);
  color: #ffffff;
  height: 40px;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
  line-height: 40px;
}

.products-item:hover .products-name {
  background-color: #1abc9c;
  transition: 0.5s;
}

.products-item:hover .products-price {
  background-color: #7fd9c7;
  transition: 0.5s;
}

.site-footer {
  background-color: #323232;
  font-size: 16px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  height: 88px;
  text-align: center;
  line-height: 88px;
}

.designed {
  text-decoration: none;
  color: #1abc9c;
}
