/* .basket, .laptop, .locked{
	background: url(sprites.png) no-repeat;
} */

.basket{
	background-position: 0 0;
	/* width: 40px;
	height: 39px; */
}

.laptop{
	background-position: -49px -3px ;
	/* width: 41px;
	height: 35px; */
}

.locked{
	background-position: -105px 0;
	/* width: 29px;
	height: 38px; */
}

