@import "./fonts.css";


html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 940px;
  margin: 0 auto;
}

.site-header{
  
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  padding: 50px 0 125px 0;
}

.site-logo{
  text-decoration: none;
  font-family: 'Meie Script', sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  color: #fed136;
}

.nav-list{
  display: flex;
}

.nav-list-item{
  margin-right: 34px;
  
}

.nav-list-item:last-child{
  margin-right: 0;
}

.nav-list-link{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #222222;
  transition:color .2s linear;
}

.nav-list-link:hover{
color: #fed136;
}

.services{
  
  padding-bottom: 115px;
}
.section-title{
font-size: 40px;
letter-spacing: -1px;
color: #222222;
font-family: 'Montserrat_Bold', sans-serif;
text-align: center;
text-transform: uppercase;
padding-bottom: 15px;

}

.sub-title{
text-transform: initial;
font-size: 16px;
color: #777777;
font-family: 'Serif-regular', serif;
text-align: center;
padding-bottom: 76px;
}

.services-list{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.services-list-item{
  width: 290px;
}

.services-img{
width: 70px;
height: 70px;
border-radius: 50%;
border: 3px solid #fed136;
margin: 0 auto;
margin-bottom: 20px;
position: relative;


}

.services-img::before{
  content: '';
  display: block;
  background-image: url(../img/sprites.png); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.basket::before{
 
	background-position: 0 0;
	width: 40px;
  height: 39px;
  
}

.laptop::before{
	background-position: -49px -3px ;
	width: 41px;
	height: 35px;
}

.locked::before{
	background-position: -105px 0;
	width: 29px;
	height: 38px;
}

.services-title{
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 75px;
  color: #222222;
  font-family: "Montserrat_Bold", sans-serif;
  


}

.services-description{
font-size: 14px;
color: #777777;
font-family: "Roboto Slab", sans-serif;
}


.contacts{
  background-color: #222222;
  padding: 100px 0 110px 0;
  background-image: url(../img/Map\ Image.png);
  background-repeat: no-repeat;
  background-position: right bottom
}

.contact_us{
  color: #ffffff;
}




.message-wrapper{
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.user-info{
  
}

.message-text{
  resize: none;
  width: 455px;
  height: 209px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  flex-shrink: 0;
  box-sizing: border-box;
 

}

.info-input{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  width: 455px;
  height: 55px;
  box-sizing: border-box;

}

.info-input:not(:last-child){
  margin-bottom: 25px;
}

.info-input, .message-text{
  padding: 20px;
  font-size: 14px;
color: #777777;
font-family: "Montserrat_Bold", sans-serif;
text-transform: uppercase;
}

input:invalid{
  outline: 2px solid #ff0000
}

input:valid{
  outline: 2px solid #229717
}

.info-input::placeholder{
  color: #cccccc;
}

.message-text::placeholder{
  color: #cccccc;
}

.send-button{
  cursor: pointer;
  padding: 20;
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 65px;
  border-radius: 3px;
  background-color: #fed136;
  font-size: 18px;
color: #ffffff;
font-family: "Montserrat_Bold", sans-serif;
text-align: center;
text-transform: uppercase;
}




